/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url('../Imagenes/galeria/mapa.jpg');
    padding: 20px ;
    width: 820px;
    height: 200px;
    margin: auto;
}


#titulo {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}


/*----------------------------estilo mapa------------------------------------*/

#visor{
    height: 600px;
    width: 1000px;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
    margin: auto;
    padding: 5px;
}

#informacion{
    margin: 50px;
    height: 400px;
    width: 490px;
    border: solid 2px black;
}

#select-location #location{
    margin: 30px 30px 0px 30px;
    padding: 8px;
    font-size: 20px;
}

.imagenes1{
    display: block;
    width: 100%;
    height: 70%;
}