/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url('../Imagenes/galeria/img01.jpg');
    padding: 20px ;
    width: 820px;
    height: 200px;
    margin: auto;
}


#titulo {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}


/*----------------------------estilo mapa------------------------------------*/

#viewer{
    height: 450px;
    width: 1000px;
    font-size: 20px;
    position: relative;
    margin-top: 10px;
    margin: 30px;
    padding: 5px;
}
