/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url('../Imagenes/deporte/banner.jpg');
    padding: 20px ;
    width: 920px;
    height: 140px;
    margin: auto;
}


#titulo {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}


/*----------------------------estilo descripcion texto------------------------------------*/
.cuerpo{

    text-align: justify;
    height: 100px;
    width: 500px;
    border: black solid 2px;
    padding: 10px;
    margin: 30px;
}

/*----------------------------estilo descripcion------------------------------------*/
.descripcion{
    width: max-content;
    height: max-content;
    text-align: center;
}

.descripcion img{
    align-content: center; 
    width: 300px;
}


.desc_01{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
 
}

.desc_02{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}

.desc_03{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}

.desc_04{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}

.desc_05{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}

.desc_06{
    width: 350px;
    height: 600px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}
