/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url(../Imagenes/descripcion.jpg);
    padding: 20px ;
    width: 920px;
    height: 200px;
    margin: auto;
}

#titulo{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

/*----------------------------estilo descripcion texto------------------------------------*/
.cuerpo{
    text-align: justify;
    height: 100px;
    width: 700px;
    border: black solid 2px;
    padding: 20px;
    margin: auto;
}

/*----------------------------estilo descripcion------------------------------------*/
.descripcion{
    width: max-content;
    height: max-content;
    text-align: center;
}

.descripcion img{
    align-content: center; 
    width: 300px;
}


.desc_01{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
 
}

.desc_02{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}

.desc_03{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
}
