
/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url(../Imagenes/diversidad/banner.jpg);
    padding: 20px ;
    width: 680px;
    height: 200px;
    margin: auto;
}


#titulo {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

/*----------------------------estilo descripcion texto------------------------------------*/
.cuerpo{

    text-align: justify;
    height: min-content;
    width: min-content;
    border: black solid 2px;
    padding: 25px;
    margin: 30px;
}

/*----------------------------estilo descripcion------------------------------------*/
.descripcion{
    width: max-content;
    height: max-content;
    text-align: center;
}

.descripcion img{
    align-content: center; 
    width: 250;
    height: 90;
}


.desc_01{
    width: 350px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border: black solid 2px;
 
}

.desc_02{
    width: 350px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border: black solid 2px;
}

.desc_03{
    width: 350px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border: black solid 2px;
}

.desc_04{
    width: 350px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border: black solid 2px;
}

.desc_05{
    width: 350px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border: black solid 2px;
}

.desc_06{
    width: 350px;
    height: 615px;
    padding: 10px;
    margin: 25px;
    border: black solid 2px;
}
