/*----------------------------estilo del menu------------------------------------*/
.menu{
    list-style: none;
    padding: 10px;
    width: max-content;
    height: 50px;
    margin: auto;
}

.ul, li{

     list-style: none;
}

.menu li a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
}

.menu >li{
    float: left;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: min-content;
}

.menu li a:hover{
    background:#78281F ;
}

.menu li:hover > ul{
    display: block;
}

/*----------------------------estilo del banner------------------------------------*/

.banner img{
    padding: 10px ;
    width: 600px;
    margin: auto;
    border: #78281F  solid 2px;
}

#titulo{
    text-align: center;
    color: #B03A2E;
    font: 80px "Brush Script MT";
}

/*----------------------------estilo descripcion texto------------------------------------*/
.cuerpo{
    text-align: justify ;
    height: 350px;
    width: 400px;
    border: black double 2px;
    padding: 10px;
    margin: 30px;
    font: 16px "Comic Sans MS";
    
}

/*----------------------------estilo descripcion------------------------------------*/
.descripcion{
    width: max-content;
    height: max-content;
    text-align: center;
}

.descripcion img{
    align-content: center; 
    width: 300px;
    height: 250px;
}


.desc_01{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
    color: black;
    font: 17px "Segoe UI Semibold";
 
}

.desc_02{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
    color: black;
    font: 17px "Segoe UI Semibold";
}

.desc_03{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px;
    border: black solid 2px;
    color: black;
    font: 17px "Segoe UI Semibold";
}
