/*----------------------------estilo del banner------------------------------------*/

.contenedor{
    background-image: url(../Imagenes/galeria/banner.jpg);
    padding: 20px ;
    width: 910px;
    height: 200px;
    margin: auto;
}

#titulo{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}
/*----------------------------estilo del galeria------------------------------------*/


body { 
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.titulo {
    padding: 10px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
    color:black;
    text-align: center;
}

.subtitulo {
    margin: 10;
    color: #FF5733;
    display: inline;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sabor { 
    color: #D4AC0D;
    margin: 7px 0;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    text-align: center;
}

.linea-division {
    text-align: center;
    width: 80%;
    height: 2px;
    background-color: white;
}

/*----------------------------estilo del carrusel------------------------------------*/
.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: white;

}